.pd-site{
    padding: 15px;
}
.color-bg{
    background-color: #4caf50;
}
.pd-top{
    padding-top: 5px;
}

.text-color{
    color: #fff;
}
.bg-caminho{
    background: none;
}
.group-header{
	display: inline-flex;;
	margin-left: 174px;
}
#btn-m-left{
	margin-left: 10px;
}
#inp-search:focus {
    box-shadow: none;
}
input#inp-search {
    width: 330px;
}
.col-sm-2 {
    background: #dededed4;
}
